<div *ngIf="modelRunDef?.status == 'FINISHED'">
    <div class="row">
        <div class="col-md-3">
            <div class="sticky-top">
                <nav class="navbar bg-light">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" (click)="currentChart = 1">
                                <span jhiTranslate="appLabApp.optimization.op1.graph1">graph1</span>
                            </a>
                        </li>
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" (click)="currentChart = 2">-->
                                <!--<span jhiTranslate="appLabApp.optimization.op1.graph2">graph2</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" (click)="currentChart = 3">-->
                                <!--<span jhiTranslate="appLabApp.optimization.op1.graph3">graph3</span>-->
                            <!--</a>-->
                        <!--</li>-->
                    </ul>
                </nav>
            </div>
        </div>

        <div class="col-md-8">
            <ng-container *ngIf="currentChart == 1">
                <h3><span jhiTranslate="appLabApp.optimization.op1.graph1">graph1</span></h3>
                <jhi-node-edge-graph [modelRunDef]="modelRunDef"></jhi-node-edge-graph>
            </ng-container>
            <!--<ng-container *ngIf="currentChart == 3">-->
                <!--<h3><span jhiTranslate="appLabApp.optimization.op1.graph3">graph3</span></h3>-->
                <!--<br>-->
                <!--<chart type="line" [data]="charts.chart3.data"-->
                       <!--[options]="charts.chart3.options" *ngIf="charts?.chart3?.data"-->
                       <!--class="col-sm-12 mt-3"></chart>-->
                <!--<p class="mt-3" *ngIf="!charts?.chart3?.data"><span jhiTranslate="appLabApp.optimization.msg.loading">loading</span></p>-->
            <!--</ng-container>-->
        </div>
    </div>
</div>

<ng-container *ngIf="modelRunDef?.status != 'FINISHED'">
    <p class="ml-3" *ngIf="modelRunDef?.progress > 0 && modelRunDef?.progress < 100">
        <span jhiTranslate="appLabApp.optimization.msg.waitProcessFinish">waitProcessFinish</span>
    </p>
    <p class="ml-3" *ngIf="modelRunDef?.progress == 0">
        <span jhiTranslate="appLabApp.optimization.msg.runProcessToResult">runProcessToResult</span>
    </p>
    <p class="ml-3" *ngIf="modelRunDef?.progress == 100">
        <span jhiTranslate="appLabApp.optimization.msg.processError">processError</span>
    </p>
</ng-container>
