<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="arc">
            <h2><span jhiTranslate="appLabApp.arc.detail.title">Arc</span> {{arc.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLabApp.arc.capacity">Capacity</span></dt>
                <dd>
                    <span>{{arc.capacity}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.arc.attackable">Attackable</span></dt>
                <dd>
                    <span>{{arc.attackable}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.arc.node1">Node 1</span></dt>
                <dd>
                    <div *ngIf="arc.node1Id">
                        <a [routerLink]="['/node', arc.node1Id, 'view']">{{arc.node1Id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="appLabApp.arc.node2">Node 2</span></dt>
                <dd>
                    <div *ngIf="arc.node2Id">
                        <a [routerLink]="['/node', arc.node2Id, 'view']">{{arc.node2Id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/arc', arc.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
