<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-arc-heading" jhiTranslate="appLabApp.arc.home.createOrEditLabel">Create or edit a Arc</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!arc.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="arc.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.arc.capacity" for="field_capacity">Capacity</label>
                    <input type="number" class="form-control" name="capacity" id="field_capacity"
                        [(ngModel)]="arc.capacity" required/>
                    <div [hidden]="!(editForm.controls.capacity?.dirty && editForm.controls.capacity?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.capacity?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.capacity?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.arc.attackable" for="field_attackable">Attackable</label>
                    <input type="checkbox" class="form-control" name="attackable" id="field_attackable"
                        [(ngModel)]="arc.attackable" />
                    <div [hidden]="!(editForm.controls.attackable?.dirty && editForm.controls.attackable?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.attackable?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.arc.node1" for="field_node1">Node 1</label>
                    <select class="form-control" id="field_node1" name="node1" [(ngModel)]="arc.node1Id" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="nodeOption.id" *ngFor="let nodeOption of nodes; trackBy: trackNodeById">{{nodeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.arc.node2" for="field_node2">Node 2</label>
                    <select class="form-control" id="field_node2" name="node2" [(ngModel)]="arc.node2Id" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="nodeOption.id" *ngFor="let nodeOption of nodes; trackBy: trackNodeById">{{nodeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
