<div>
    <h2 id="page-heading">
        <span jhiTranslate="appLabApp.arc.home.title">Arcs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-arc" [routerLink]="['/arc/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appLabApp.arc.home.createLabel">
            Create new Arc
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="arcs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="capacity"><span jhiTranslate="appLabApp.arc.capacity">Capacity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="attackable"><span jhiTranslate="appLabApp.arc.attackable">Attackable</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="node1Id"><span jhiTranslate="appLabApp.arc.node1">Node 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="node2Id"><span jhiTranslate="appLabApp.arc.node2">Node 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let arc of arcs ;trackBy: trackId">
                <td><a [routerLink]="['/arc', arc.id, 'view' ]">{{arc.id}}</a></td>
                <td>{{arc.capacity}}</td>
                <td>{{arc.attackable}}</td>
                <td>
                    <div *ngIf="arc.node1Id">
                        <a [routerLink]="['../node', arc.node1Id , 'view' ]" >{{arc.node1Id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="arc.node2Id">
                        <a [routerLink]="['../node', arc.node2Id , 'view' ]" >{{arc.node2Id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/arc', arc.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/arc', arc.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'arc/'+ arc.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
