<div>
    <h2 id="page-heading">
        <span jhiTranslate="appLabApp.modelRunDef.home.title">Model Run Defs</span>
        <button id="btn-compare" class="btn btn-primary float-right" type="submit"
                [routerLink]="['/model-run-def/compare', compareId[0], compareId[1], compareId[2]]"
                [disabled]="modelRunDefCompare.length == 0">
            Comparar Ejecuciones
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>

    <div class="form-group row">
        <div class="col-md-6">
            <label for="search-name"><b><span jhiTranslate="appLabApp.modelRunDef.name">Name</span></b></label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </span>
                </div>
                <input type="text" class="form-control" id="search-name" [(ngModel)]="searchNameString" name="search-name"/>
            </div>
        </div>
        <div class="col-md-6">
            <label><b><span jhiTranslate="appLabApp.modelRunDef.runDate">Date</span></b></label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2" (click)="d.toggle()">
                        <fa-icon [icon]="'calendar-alt'"></fa-icon>
                    </span>
                </div>
                <input class="form-control" [value]="range_date"/>
                <input class="form-control d-none" placeholder="mm/dd/yyyy"
                       name="dp" [(ngModel)]="selectedDate"
                       ngbDatepicker
                       [autoClose]="false" [displayMonths]="2" #d="ngbDatepicker" (dateSelect)="onDateSelection(d)"
                       [dayTemplate]="t" [navigation]="'arrows'" [outsideDays]="'collapsed'">
                <ng-template #t let-date="date" let-focused="focused">
                  <span class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
            </div>
        </div>
    </div>

    <hr>

    <div class="table-responsive" *ngIf="modelRunDefs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th>
                <span jhiTranslate="appLabApp.modelRunDef.compare" ngbTooltip="Puede seleccionar hasta 3 ejecuciones del mismo tipo">Comparar</span>
            </th>
            <th jhiSortBy="name"><span jhiTranslate="appLabApp.modelRunDef.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="objFunction"><span jhiTranslate="appLabApp.modelRunDef.objFunction">Obj Function</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="runDate"><span jhiTranslate="appLabApp.modelRunDef.runDate">Run Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startTime"><span jhiTranslate="appLabApp.modelRunDef.startTime">Start Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endTime"><span jhiTranslate="appLabApp.modelRunDef.duration">duration</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="appLabApp.modelRunDef.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let modelRunDef of filteredModelRunDefs  | stringFilter: 'name' : searchNameString ;trackBy: trackId;let index = index;">
                <td style="text-align: center">
                    <input type="checkbox" [(ngModel)]="compare[index]" (ngModelChange)="changeCompareList(compare[index], modelRunDef)"
                    [disabled]="(modelRunDefCompare.length>0 && modelRunDefCompare[0].name != modelRunDef.name) || (modelRunDefCompare.length == 3 && !compare[index])"/>
                </td>
                <td>
                    <button type="button" class="btn btn-secondary">{{modelRunDef.name}}</button>
                </td>
                <td>{{modelRunDef.objFunction}}</td>
                <td>{{modelRunDef.runDate | date:'mediumDate'}}</td>
                <td>{{modelRunDef.startTime}}</td>
                <td>{{modelRunDef.duration}}</td>
                <td>
                    <button *ngIf="modelRunDef.status=='FINISHED'" type="button" class="btn btn-outline-success" jhiTranslate="{{'appLabApp.Status.' + modelRunDef.status}}">{{modelRunDef.status}}</button>
                    <button *ngIf="modelRunDef.status=='RUNNING'" type="button" class="btn btn-outline-warning" jhiTranslate="{{'appLabApp.Status.' + modelRunDef.status}}">{{modelRunDef.status}}</button>
                    <button *ngIf="modelRunDef.status=='READY'" type="button" class="btn btn-outline-info" jhiTranslate="{{'appLabApp.Status.' + modelRunDef.status}}">{{modelRunDef.status}}</button>
                    <button *ngIf="modelRunDef.status=='ERROR'"  type="button" class="btn btn-outline-danger" jhiTranslate="{{'appLabApp.Status.' + modelRunDef.status}}">{{modelRunDef.status}}</button>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/model-run-def', modelRunDef.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'model-run-def/'+ modelRunDef.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
