            <!--<dl class="row-md jh-entity-details">-->
                <!--<dt><span jhiTranslate="appLabApp.modelRunDef.dataSetInput">Data Set Input</span></dt>-->
                <!--<dd>-->
                    <!--<span>{{modelRunDef.dataSetInput}}</span>-->
                <!--</dd>-->
                <!--<dt><span jhiTranslate="appLabApp.modelRunDef.dataSetResult">Data Set ResultDTO</span></dt>-->
                <!--<dd>-->
                    <!--<span>{{modelRunDef.dataSetResult}}</span>-->
                <!--</dd>-->
                <!--<dt><span jhiTranslate="appLabApp.modelRunDef.userResult">User ResultDTO</span></dt>-->
                <!--<dd>-->
                    <!--<div *ngIf="modelRunDef.userResult">-->
                        <!--<a (click)="openFile(modelRunDef.userResultContentType, modelRunDef.userResult)" jhiTranslate="entity.action.open">open</a>-->
                        <!--{{modelRunDef.userResultContentType}}, {{byteSize(modelRunDef.userResult)}}-->
                    <!--</div>-->
                <!--</dd>-->
                <!--<dt><span jhiTranslate="appLabApp.modelRunDef.otherResult">Other ResultDTO</span></dt>-->
                <!--<dd>-->
                    <!--<div *ngIf="modelRunDef.otherResult">-->
                        <!--<a (click)="openFile(modelRunDef.otherResultContentType, modelRunDef.otherResult)" jhiTranslate="entity.action.open">open</a>-->
                        <!--{{modelRunDef.otherResultContentType}}, {{byteSize(modelRunDef.otherResult)}}-->
                    <!--</div>-->
                <!--</dd>-->
                <!--<dt><span jhiTranslate="appLabApp.modelRunDef.comments">Comments</span></dt>-->
                <!--<dd>-->
                    <!--<span>{{modelRunDef.comments}}</span>-->
                <!--</dd>-->
                <!--<dt><span jhiTranslate="appLabApp.modelRunDef.user">User</span></dt>-->
                <!--<dd>-->
                    <!--<span>{{modelRunDef.user}}</span>-->
                <!--</dd>-->
            <!--</dl>-->

            <!--<button type="submit"-->
                    <!--(click)="previousState()"-->
                    <!--class="btn btn-info">-->
                <!--<fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>-->
            <!--</button>-->

            <!--<button type="button"-->
                    <!--[routerLink]="['/model-run-def', modelRunDef.id, 'edit']"-->
                    <!--class="btn btn-primary">-->
                <!--<fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>-->
            <!--</button>-->


<div>
    <h2 id="page-heading" class="mb-4">
        <span jhiTranslate="appLabApp.modelRunDef.detail.title">Model Run Def</span> {{modelRunDef.id}} - {{modelRunDef.name}}
        <button type="submit" (click)="previousState()" class="btn btn-info float-right">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
    </h2>
</div>

<ngb-tabset>
    <ngb-tab>
        <ng-template ngbTabTitle>Información General</ng-template>
        <ng-template ngbTabContent>
            <br>
            <form>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="run-date"><b><span jhiTranslate="appLabApp.modelRunDef.runDate">Run Date</span></b></label>
                        <input type="text" class="form-control" id="run-date" [(ngModel)]="modelRunDef.runDate" name="run-date"  disabled>
                    </div>
                    <div class="col-md-4">
                        <label for="start-time"><b><span jhiTranslate="appLabApp.modelRunDef.startTime">Start Time</span></b></label>
                        <input type="text" class="form-control" id="start-time" [(ngModel)]="modelRunDef.startTime" name="start-time" disabled>
                    </div>
                    <div class="col-md-4">
                        <label for="end-time"><b><span jhiTranslate="appLabApp.modelRunDef.endTime">End Time</span></b></label>
                        <input type="text" class="form-control" id="end-time" [(ngModel)]="modelRunDef.endTime" name="end-time" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="language"><b><span jhiTranslate="appLabApp.modelRunDef.language">Language</span></b></label>
                        <input type="text" class="form-control" id="language" [(ngModel)]="modelRunDef.language" name="language"  disabled>
                    </div>
                    <div class="col-md-4">
                        <label for="solver"><b><span jhiTranslate="appLabApp.modelRunDef.solver">Solver</span></b></label>
                        <input type="text" class="form-control" id="solver" [(ngModel)]="modelRunDef.solver" name="solver" disabled>
                    </div>
                    <div class="col-md-4">
                        <label for="version"><b><span jhiTranslate="appLabApp.modelRunDef.version">Version</span></b></label>
                        <input type="text" class="form-control" id="version" [(ngModel)]="modelRunDef.version" name="version" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="obj-function"><b><span jhiTranslate="appLabApp.modelRunDef.objFunction">FO</span></b></label>
                        <input type="text" class="form-control" id="obj-function" [(ngModel)]="modelRunDef.objFunction" name="obj-function" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="status"><b>Estado</b></label>
                        <input type="text" class="form-control" id="status" [(ngModel)]="modelRunDef.status" name="status" disabled>
                    </div>
                </div>
            </form>
        </ng-template>
    </ngb-tab>

    <ngb-tab id="resultsTab">
        <ng-template ngbTabTitle>Resultados</ng-template>
        <ng-template ngbTabContent>
            <br>
            <!--<jhi-optimization-point-1-charts [(modelRunDef)]="modelRunDef" [change]="modelRunDefChange"></jhi-optimization-point-1-charts>-->
            <jhi-optimization-point-1-charts [(modelRunDef)]="modelRunDef" [change]="modelRunDefChange"></jhi-optimization-point-1-charts>

            <!--<jhi-optimization-point-2-charts *ngIf="modelRunDef.name === 'Planner'" [(modelRunDef)]="modelRunDef" [change]="modelRunDefChange"></jhi-optimization-point-2-charts>-->
        </ng-template>
            <!--<ng-container *ngIf="modelRunDef?.status == 'FINISHED'">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-3">-->
                        <!--<div class="sticky-top">-->
                            <!--<nav class="navbar bg-light">-->
                                <!--<ul class="navbar-nav">-->
                                    <!--<li class="nav-item" *ngFor="let title of chartTitles;let index = index;">-->
                                        <!--<a class="nav-link" (click)="currentChart = index+1">{{title}}</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</nav>-->
                        <!--</div>-->
                        <!--<p></p>-->
                        <!--<div style="text-align: center">-->
                            <!--<a *ngIf="modelRunDef.dataSetResult" href="/api/download-file?param={{modelRunDef.id}}"-->
                               <!--role="button" placement="top" class="btn btn-primary" style="width: 100%">-->
                                <!--<fa-icon [icon]="'download'"></fa-icon>-->
                                <!--<span class="d-none d-md-inline">Descargar Resultado</span>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-md-9" *ngIf="modelRunDef.name === 'Pattern Generator'">-->
                        <!--<ng-container *ngIf="currentChart == 1">-->
                            <!--<h3>{{chartTitles[0]}}</h3>-->
                            <!--<chart [type]="charts.chart1.type" [data]="charts.chart1.data"-->
                                   <!--[options]="charts.chart1.options" *ngIf="charts?.chart1?.data"-->
                                   <!--class="col-sm-8 mt-3"></chart>-->

                            <!--<p class="mt-3" *ngIf="!charts?.chart1?.data">Cargando...</p>-->
                        <!--</ng-container>-->
                        <!--<ng-container *ngIf="currentChart == 2">-->
                            <!--<h3>{{chartTitles[1]}}</h3>-->
                            <!--<chart [type]="charts.chart2.type" [data]="charts.chart2.data"-->
                                   <!--[options]="charts.chart2.options" *ngIf="charts?.chart2?.data"-->
                                   <!--class="col-sm-8 mt-3"></chart>-->
                            <!--<p class="mt-3" *ngIf="!charts?.chart2?.data">Cargando...</p>-->
                        <!--</ng-container>-->
                        <!--<ng-container *ngIf="currentChart == 3">-->
                            <!--<h3>{{chartTitles[2]}}</h3>-->
                            <!--<chart [type]="charts.chart3.type" [data]="charts.chart3.data"-->
                                   <!--[options]="charts.chart3.options" *ngIf="charts?.chart3?.data"-->
                                   <!--class="col-sm-8 mt-3"></chart>-->
                            <!--<p class="mt-3" *ngIf="!charts?.chart3?.data">Cargando...</p>-->
                        <!--</ng-container>-->
                    <!--</div>-->

                    <!--<div class="col-md-9" *ngIf="modelRunDef.name === 'Planner'">-->
                        <!--<ng-container *ngIf="currentChart == 1">-->
                            <!--<h3>{{chartTitles[0]}}</h3>-->
                            <!--<ng-container *ngIf="charts?.resume">-->
                                <!--<div class="row mb-5">-->
                                    <!--<chart type="pie" [data]="charts?.resume?.chart1?.data"-->
                                           <!--[options]="charts?.resume?.chart1?.options" *ngIf="charts?.resume?.chart1?.data"-->
                                           <!--class="col-sm-4 mt-4"></chart>-->

                                    <!--<chart type="pie" [data]="charts?.resume?.chart2?.data"-->
                                           <!--[options]="charts?.resume?.chart2?.options" *ngIf="charts?.resume?.chart2?.data"-->
                                           <!--class="col-sm-4 mt-4"></chart>-->
                                <!--</div>-->

                                <!--<p *ngFor="let row of charts?.resume?.info; let rowIndex = index" class="mb-0">-->
                                    <!--<span *ngFor="let col of row; let colIndex = index"-->
                                          <!--[ngClass]="{'font-weight-bold': colIndex == 0 || rowIndex == 0}">-->
                                        <!--{{col}}-->
                                    <!--</span>-->
                                    <!--<br>-->
                                    <!--<br *ngIf="[0,1,3,7].indexOf(rowIndex) !== -1">-->
                                <!--</p>-->
                            <!--</ng-container>-->
                            <!--<p class="mt-3" *ngIf="!charts?.resume">Cargando...</p>-->
                        <!--</ng-container>-->

                        <!--<ng-container *ngIf="currentChart == 2">-->
                            <!--<h3>{{chartTitles[1]}}</h3>-->
                            <!--<div class="row" *ngIf="charts?.chart1?.data">-->
                                <!--<chart type="bar" [data]="charts.chart1.data"-->
                                       <!--[options]="charts.chart1.options"-->
                                       <!--class="col-sm-8 mt-3"></chart>-->
                                <!--<div class="col-sm-4">-->
                                    <!--<p class="mb-3 mt-3"><b>FILTROS</b></p>-->
                                    <!--<div class="d-flex mb-3">-->
                                        <!--<p class="mb-0 mr-4 w-50">Según producción</p>-->
                                        <!--<select class="w-50" [(ngModel)]="filters.production" (change)="setChart1()">-->
                                            <!--<option value="null">Todas</option>-->
                                            <!--<option value="negative">Demanda insatisfecha</option>-->
                                            <!--<option value="satisfied">Demanda satisfecha</option>-->
                                            <!--<option value="positive">Demanda satisfecha con sobrantes</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                    <!--<div class="d-flex mb-3">-->
                                        <!--<p class="mb-0 mr-4 w-50">Según largo</p>-->
                                        <!--<select class="w-50" [(ngModel)]="filters.large" (change)="setChart1()">-->
                                            <!--<option value="null">Todas</option>-->
                                            <!--<option value="l10">L10</option>-->
                                            <!--<option value="l12">L12</option>-->
                                            <!--<option value="l14">L14</option>-->
                                            <!--<option value="l16">L16</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                    <!--<div class="d-flex mb-3">-->
                                        <!--<p class="mb-0 mr-4 w-50">Según tipo</p>-->
                                        <!--<select class="w-50" [(ngModel)]="filters.type" (change)="setChart1()">-->
                                            <!--<option value="null">Todas</option>-->
                                            <!--<option value="r0">R0</option>-->
                                            <!--<option value="r1">R1</option>-->
                                            <!--<option value="r2">R2</option>-->
                                            <!--<option value="r3">R3</option>-->
                                            <!--<option value="r4">R4</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                    <!--<button class="btn btn-primary" (click)="resetFilters(true)">RESETEAR</button>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<p class="mt-3" *ngIf="!charts?.chart1?.data">Cargando...</p>-->
                        <!--</ng-container>-->
                    <!--</div>-->
                <!--</div>-->

                <!--</div>-->
            <!--</ng-container>-->

            <!--<ng-container *ngIf="modelRunDef?.status == 'ERROR'">-->
                <!--<p class="ml-3">-->
                    <!--No se obtuvieron resultados-->
                <!--</p>-->
            <!--</ng-container>-->

        <!--</ng-template>-->
    </ngb-tab>

</ngb-tabset>

