<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="modelDef">
            <h2><span jhiTranslate="appLabApp.modelDef.detail.title">Model Def</span> {{modelDef.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLabApp.modelDef.name">Name</span></dt>
                <dd>
                    <span>{{modelDef.name}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.modelDef.language">Language</span></dt>
                <dd>
                    <span jhiTranslate="{{'appLabApp.Language.' + modelDef.language}}">{{modelDef.language}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.modelDef.solver">Solver</span></dt>
                <dd>
                    <span jhiTranslate="{{'appLabApp.Solver.' + modelDef.solver}}">{{modelDef.solver}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.modelDef.currentVersion">Current Version</span></dt>
                <dd>
                    <span>{{modelDef.currentVersion}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.modelDef.description">Description</span></dt>
                <dd>
                    <span>{{modelDef.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/model-def', modelDef.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
