
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <div class="modal-header">
                <h4 class="modal-title" jhiTranslate="appLabApp.modelDef.home.createOrEditLabel">Create or edit a Model Def</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        (click)="clear()">&times;</button>
            </div>
            <div class="modal-body">
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.modelDef.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="modelDef.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.modelDef.language" for="field_language">Language</label>
                    <select class="form-control" name="language" [(ngModel)]="modelDef.language" id="field_language"  required>
                        <option value="GAMS">{{'appLabApp.Language.GAMS' | translate}}</option>
                        <option value="PYOMO">{{'appLabApp.Language.PYOMO' | translate}}</option>
                        <option value="ORTOOLS">{{'appLabApp.Language.ORTOOLS' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.language?.dirty && editForm.controls.language?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.language?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.modelDef.solver" for="field_solver">Solver</label>
                    <select class="form-control" name="solver" [(ngModel)]="modelDef.solver" id="field_solver"  required>
                        <option value="CPLEX">{{'appLabApp.Solver.CPLEX' | translate}}</option>
                        <option value="GUROBI">{{'appLabApp.Solver.GUROBI' | translate}}</option>
                        <option value="GLPK">{{'appLabApp.Solver.GLPK' | translate}}</option>
                        <option value="CBC">{{'appLabApp.Solver.CBC' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.solver?.dirty && editForm.controls.solver?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.solver?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.modelDef.currentVersion" for="field_currentVersion">Current Version</label>
                    <input type="number" class="form-control" name="currentVersion" id="field_currentVersion"
                        [(ngModel)]="modelDef.currentVersion" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.modelDef.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="modelDef.description" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="clear()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>

