<div>
    <h2 id="page-heading">
        <span jhiTranslate="appLabApp.nodeCommodity.home.title">Node Commodities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-node-commodity" [routerLink]="['/node-commodity/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appLabApp.nodeCommodity.home.createLabel">
            Create new Node Commodity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="nodeCommodities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplyDemand"><span jhiTranslate="appLabApp.nodeCommodity.supplyDemand">Supply Demand</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="commodityId"><span jhiTranslate="appLabApp.nodeCommodity.commodity">Commodity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nodeId"><span jhiTranslate="appLabApp.nodeCommodity.node">Node</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let nodeCommodity of nodeCommodities ;trackBy: trackId">
                <td><a [routerLink]="['/node-commodity', nodeCommodity.id, 'view' ]">{{nodeCommodity.id}}</a></td>
                <td>{{nodeCommodity.supplyDemand}}</td>
                <td>
                    <div *ngIf="nodeCommodity.commodityId">
                        <a [routerLink]="['../commodity', nodeCommodity.commodityId , 'view' ]" >{{nodeCommodity.commodityId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="nodeCommodity.nodeId">
                        <a [routerLink]="['../node', nodeCommodity.nodeId , 'view' ]" >{{nodeCommodity.nodeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/node-commodity', nodeCommodity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/node-commodity', nodeCommodity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'node-commodity/'+ nodeCommodity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
