<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-node-commodity-heading" jhiTranslate="appLabApp.nodeCommodity.home.createOrEditLabel">Create or edit a Node Commodity</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!nodeCommodity.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="nodeCommodity.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.nodeCommodity.supplyDemand" for="field_supplyDemand">Supply Demand</label>
                    <input type="number" class="form-control" name="supplyDemand" id="field_supplyDemand"
                        [(ngModel)]="nodeCommodity.supplyDemand" required/>
                    <div [hidden]="!(editForm.controls.supplyDemand?.dirty && editForm.controls.supplyDemand?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.supplyDemand?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.supplyDemand?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.nodeCommodity.commodity" for="field_commodity">Commodity</label>
                    <select class="form-control" id="field_commodity" name="commodity" [(ngModel)]="nodeCommodity.commodityId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="commodityOption.id" *ngFor="let commodityOption of commodities; trackBy: trackCommodityById">{{commodityOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appLabApp.nodeCommodity.node" for="field_node">Node</label>
                    <select class="form-control" id="field_node" name="node" [(ngModel)]="nodeCommodity.nodeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="nodeOption.id" *ngFor="let nodeOption of nodes; trackBy: trackNodeById">{{nodeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
