<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="nodeCommodity">
            <h2><span jhiTranslate="appLabApp.nodeCommodity.detail.title">Node Commodity</span> {{nodeCommodity.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLabApp.nodeCommodity.supplyDemand">Supply Demand</span></dt>
                <dd>
                    <span>{{nodeCommodity.supplyDemand}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.nodeCommodity.commodity">Commodity</span></dt>
                <dd>
                    <div *ngIf="nodeCommodity.commodityId">
                        <a [routerLink]="['/commodity', nodeCommodity.commodityId, 'view']">{{nodeCommodity.commodityId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="appLabApp.nodeCommodity.node">Node</span></dt>
                <dd>
                    <div *ngIf="nodeCommodity.nodeId">
                        <a [routerLink]="['/node', nodeCommodity.nodeId, 'view']">{{nodeCommodity.nodeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/node-commodity', nodeCommodity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
