<div>
    <h2>Acerca de <strong>App #2: Transporte y Logística</strong></h2>
    <div class="row">
    <div class="col-sm-12">
        <p class="lead">
            <strong>App #2: Transporte y Logística es una herramienta para la Interdicción de flujo de productos múltiples.</strong>
            <br>
            Un atacante deshabilita un set de arcos de la red con el objetivo de minimizar las ganancias máximas obtenidas por el transporte de mercancías dentro de la misma.
        </p>
        <blockquote class="blockquote">
            <p>
                Para que la aplicación funcione en forma correcta, el servidor debe tener instalado CPLEX.
            </p>
            <p>
                <strong>Planificación de Envíos</strong>:
            </p>
            <ol>
                <li>Cargar Nodos. [Entidades -> Nodos]</li>
                <li>Cargar Arcos. [Entidades -> Arcos]</li>
                <li>Cargar Mercancías. [Entidades -> Mercancías]</li>
                <li>Cargar relación entre nodos y mercancías. [Entidades -> Relación entre nodos y mercancías]</li>
                <li>Cargar relación entre arcos y mercancías. [Entidades -> Relación entre arcos y mercancías]</li>
                <li><strong>Ejecutar el Optimization Point #1: Interdicción de flujo de productos múltiples</strong></li>
            </ol>
            <p>
                El resultado de esta etapa consiste en:
            <ul>
                <li>Arcos atacados/inhabilitados</li>
                <li>Demandas Remanentes en los nodos (Demandas Insatisfechas)</li>
                <li>Stock Remanente en los nodos (Sobrante)</li>
                <li>Flujo en cada arco utilizado, especificando la mercancía transportada</li>
            </ul>
            </p>
            <!--
            <footer class="blockquote-footer">Matt Raible in <cite title="The JHipster Mini-Book">The JHipster Mini-Book</cite></footer>
            -->
        </blockquote>
        <p>
            Esta aplicación ha sido desarrollada por el <a href="http://www.ingar.santafe-conicet.gov.ar/">Instituto INGAR (CONICET - UTN)</a>.
        </p>
    </div>

</div>
</div>
