<div>
    <h2 id="page-heading">
        <span jhiTranslate="appLabApp.arcCommodity.home.title">Arc Commodities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-arc-commodity" [routerLink]="['/arc-commodity/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appLabApp.arcCommodity.home.createLabel">
            Create new Arc Commodity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="arcCommodities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cost"><span jhiTranslate="appLabApp.arcCommodity.cost">Cost</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="capacity"><span jhiTranslate="appLabApp.arcCommodity.capacity">Capacity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="commodityId"><span jhiTranslate="appLabApp.arcCommodity.commodity">Commodity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="arcId"><span jhiTranslate="appLabApp.arcCommodity.arc">Arc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let arcCommodity of arcCommodities ;trackBy: trackId">
                <td><a [routerLink]="['/arc-commodity', arcCommodity.id, 'view' ]">{{arcCommodity.id}}</a></td>
                <td>{{arcCommodity.cost}}</td>
                <td>{{arcCommodity.capacity}}</td>
                <td>
                    <div *ngIf="arcCommodity.commodityId">
                        <a [routerLink]="['../commodity', arcCommodity.commodityId , 'view' ]" >{{arcCommodity.commodityId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="arcCommodity.arcId">
                        <a [routerLink]="['../arc', arcCommodity.arcId , 'view' ]" >{{arcCommodity.arcId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/arc-commodity', arcCommodity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/arc-commodity', arcCommodity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'arc-commodity/'+ arcCommodity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
