<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="arcCommodity">
            <h2><span jhiTranslate="appLabApp.arcCommodity.detail.title">Arc Commodity</span> {{arcCommodity.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appLabApp.arcCommodity.cost">Cost</span></dt>
                <dd>
                    <span>{{arcCommodity.cost}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.arcCommodity.capacity">Capacity</span></dt>
                <dd>
                    <span>{{arcCommodity.capacity}}</span>
                </dd>
                <dt><span jhiTranslate="appLabApp.arcCommodity.commodity">Commodity</span></dt>
                <dd>
                    <div *ngIf="arcCommodity.commodityId">
                        <a [routerLink]="['/commodity', arcCommodity.commodityId, 'view']">{{arcCommodity.commodityId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="appLabApp.arcCommodity.arc">Arc</span></dt>
                <dd>
                    <div *ngIf="arcCommodity.arcId">
                        <a [routerLink]="['/arc', arcCommodity.arcId, 'view']">{{arcCommodity.arcId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/arc-commodity', arcCommodity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
